@model IEnumerable<MVCDatabaseFirstApp.Models.PRODUCT>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DisplayProduct</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PRODID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PRODNAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PRODPRICE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CATEID)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PRODID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PRODNAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PRODPRICE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CateName)
            </td>
            <td>
                <a href="#" onclick="EditProduct(@item.PRODID)">Edit </a> |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                <a href="~/Inventory/DeleteProduct/@item.PRODID" onclick="return confirm('Are you sure to delete?')">Delete</a>
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
