@model UserModel

<html>
<body>
    <h2>
        Name: @Model.UserName <br />
        Age : @Model.Age <br />
        Gender: @Model.Gender <brr>
        SkillSet: @Model.SkillSet <br />
        Country: @Model.Country <br />
        Terms: @Model.TermsAccepted
    </h2>
</body>
</html>